// Variables
$font-family-roboto: 'Roboto', sans-serif;
$font-family-open-sans: 'Open Sans', sans-serif;
$primary-color: rgb(0, 0, 0);
$font-color: rgb(17, 17, 17);

//background-colors
$background-color: rgb(244, 237, 237);
$header-color: rgb(229, 211, 211);

//fonts
$font-weights-open-sans: (
  'light': 300,
  'regular': 400
);

$font-weights-roboto: (
  'regular': 400,
  'bold': 700
);