* {
    background-color: rgb(108, 124, 137);
    font-family: sans-serif;
    margin: 10px;
    color: white;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    display: inline-block;
    color: white;
    background-color: rgb(51, 89, 118);
    font-weight: bold;
    padding: 10px;
}

li:hover {
    background-color: rgb(127, 173, 209);
    cursor:pointer;
}

a {
    font-style: unset;
    color: unset;
    text-decoration: unset;
    background-color: unset;
}