//
// OVERRIDE BOOTSTRAP CSS
//

// override bootstrap primary color with red
$primary: #ff0029;

$btn-color: white;

$bs-btn-color: white;

// navbar overrides
$body-tertiary-bg: #000;
$navbar-light-active-color: #ff0029;
$navbar-light-hover-color: #ff0029;
$navbar-link-color: #cacaca;


// import bootstrap css
@import 'bootstrap/scss/bootstrap.scss';

//
// OWN VARIABLES
//
$primary-text-color: #ff0029;
$secondary-text-color: #cacaca;

$body-bg-color: rgb(19, 19, 19);
$body-bg-gradient: linear-gradient(rgba(19, 19, 19, 1) 0%, rgba(13, 13, 13, 1) 80%, #481818 100%);


// edit burger menu icon color
.navbar-toggler-icon {
  background-image: (url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 30 30%27%3e%3cpath stroke=%27rgba%28255, 0, 43, 1%29%27 stroke-linecap=%27round%27 stroke-miterlimit=%2710%27 stroke-width=%272%27 d=%27M4 7h22M4 15h22M4 23h22%27/%3e%3c/svg%3e"));
}

.nav-link {
  color: $primary-text-color;
}

.offcanvas {
  background-color: $body-bg-color;
  color: $primary;
}

.btn-close {
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23ff0029%27%3e%3cpath d=%27M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z%27/%3e%3c/svg%3e");
}

.btn:disabled {
  background-color: gray;
  border-color: gray;
}

//
// NON-BOOTSTRAP CSS
//

body {
  background: $body-bg-color;
  background: $body-bg-gradient;
  color: $secondary-text-color;
  background-attachment: fixed;
  position: relative;
  min-height: 100vh;
  padding-bottom: 5rem;
}

a {
  text-decoration: none;
}

//shopping cart icon
.shopping-cart {
  margin-left: auto;
}

.banner-image {
  height: 200px;
  // make image cover entire div
  object-fit: cover;
  // filter to make image darker
  filter: brightness(50%);
}

.nav-dropdown-link {
  color: $primary-text-color;
}

.nav-dropdown-link:hover {
  color: $primary-text-color;
}

.nav-dropdown-link:active {
  color: white;
}

.right {
  text-align: right;
}

.return-back {
  color: $primary-text-color;
  margin-left: 20px;
  cursor: pointer;
  font-size: 1.3rem;
}

.product-list {
  display: grid;
  margin: 20px;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr)); // Update the maximum width to 300px

  .product-card {
    display: flex;
    background-color: rgba(255, 255, 255, 0.24);
    color: white;

    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .product-button {
      color: white;
      justify-self: end;
      margin-top: auto;
      width: 100%;
    }

    .product-price {
      color: $primary-text-color;
      font-weight: 500;
      float: right;
      font-size: 2rem;
      -webkit-text-stroke: 0.3px #fff;
      text-shadow: #cacaca 1px 0 14px;
    }
  }
}

.product-container {
  margin-left: auto;
  margin-right: auto;

  h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

// Product Page on mobile
.product-page {
  margin-top: 3rem;

  .product-card {
    display: flex;
    background-color: rgba(255, 255, 255, 0.24);
    color: white;

    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .product-button {
      color: white;
      justify-self: end;
      margin-top: auto;
      width: 100%;
    }

    .product-price {
      color: $primary-text-color;
      font-weight: 500;
      float: right;
      font-size: 2rem;
      -webkit-text-stroke: 0.3px #fff;
      text-shadow: #cacaca 1px 0 14px;
    }

    .product-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.cart-container {
  .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: none;
    color: white;

    .card-body {
      background-color: #484848;
    }

    img {
      width: 100%;
      height: 100%;
      max-width: 200px;
      object-fit: cover;
    }

    .end-of-card {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    .product-price {
      color: $primary-text-color;
      font-weight: 500;
      float: right;
      font-size: 1.6rem;
      -webkit-text-stroke: 0.3px #fff;
      text-shadow: #cacaca 1px 0 14px;

      .per-price {
        color: rgb(149, 149, 149);
        font-size: 1.3rem;
      }
    }

    .product-button {
      width: 100%;
      color: white;
    }
  }
}

.cart {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;

  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
}

.cart-overview {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 1rem;
  color: black;
  min-width: 300px;

  .cart-title {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
  }

  .cart-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cart-row {
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    margin-bottom: 2px;
  }

  .cart-order-button {
    width: 100%;
    color: white;
    margin-top: 2rem;
    font-weight: bold;
    letter-spacing: 0.5px;
  }

  .first-item {
    font-weight: 400;
    font-size: 1rem;
  }

  .second-item {
    font-weight: 500;
  }

  .total-price {
    font-weight: 500;
    font-size: 1.6rem;
    color: $primary-text-color;
  }

  .clear-cart-button {
    color: black;
    letter-spacing: 0.5px;
    margin-top: 1rem;
    padding: 0;
  }
}

.cartitem-count-controls {
  display: flex;
  align-self: flex-end;
  flex-direction: row;
  margin-bottom: 1rem;
  flex-wrap: nowrap;

  .control {
    width: unset;
    font-size: 1.3rem;
    font-weight: bold;
  }

  .control-amount {
    width: 40px;
    flex-grow: unset;
    flex-basis: unset;
    padding: 0px;
    text-align: center;
  }
}

// bottom footer
footer {
  width: 100%;
  height: 5rem;
  margin-top: auto;
  color: white;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}



// display error message center of screen
.error-element {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.first-header {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

//
// Desktop or tablet media query
//
@media screen and (min-width: 768px) {
  .banner-image {
    height: 400px;
  }

  // Product Page
  .product-page {
    .product-card {
      flex-direction: row;

      .product-button {
        max-width: 300px;
      }

      .product-price {
        float: unset;
      }

      .card-end {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }

      .product-image {
        max-width: 500px;
      }

      .card-long-text {
        width: 100%;
        flex-basis: 100%;
      }
    }
  }

  .cart-container {
    .cart-item {
      flex-direction: row;

      .remove-button, .product-button {
        width: 300px;
      }
    }

    .cart {
      flex-grow:6;
    }

    .cart-overview {
      flex-grow: 1;
    }
  }

}

//
// Widescreen media query
//
@media screen and (min-width: 1200px) {
  .page-split {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
  }
}